<!DOCTYPE html>
<html lang="en-us" ng-app="myApp">
<head>
    <title>Tutorial AngularJS</title>    
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    
    <!-- Latest compiled JQuery -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    
     <!-- Latest AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    
    <!-- Controller -->
   <!--   <script src="ehnapp.js"></script> -->
    <script src="app_02ScopeServices.js"></script>
      
    <!-- Style -->
    <style>
    html, body, input, select, textarea
    {
     font-size: 1.05em !important;
    }
    
    </style>
</head>
<body>
    <header>
       <nav class="navbar navbar-default">
        <div class="container">
            <div>
                <a class="navbar-brand" href="/">jQuery</a>
            </div>
        
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#">
                    <i class="fa fa-home">
                    </i>Home
                </a>
             </li>    
            </ul>
        </div>
       </nav>
    </header>

  <div class="container">
   <div ng-controller="mainController">
       <div> 
           <label>Wat is jouw twitter adres?</label> 
           <input type="text" ng-model="handle" ></input>
        </div>
        <div class="alert" ng-if="handle.length !== characters">
        Tekst dient 5 karakters te bevatten!
        </div>
        <hr/>
            <h3>twitter.com/{{ lowercasehandlefunction() }}</h3>
    </div>
    
      
      
      
  </div>
              
              
              
</body>
</html>